
body {
    padding: 0;
    margin: 0;
    background: #000000;
  }
  
  /*---

  .navbar {
    background:#343434;
  }
  
  .nav-link {
    color: #27cb53;
    cursor: pointer;
    margin-right: 15px;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
  }
    
  .nav-link:hover {
    color: #ffffff;
    cursor: pointer;
    margin-right: 15px;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .navbar-collapse {
    justify-content: flex-end;
  }

  img {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 50px;
  }
 
  .description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  
  .description h1 {
    color: #27cb53;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .title h2{
    color: #ffffff;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
  }
 
  .title h3{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
  }
 
  .btn{
    background-color: #ff902e;
    font: #000000;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
  }
 
  .btn:hover{
    background-color: #ffffff;
    font: #000000;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    border-color: #ff902e;
    border-style: solid;
    border-width: 3px;
 
  }
 
  .quick a {
    color:#ffffff;
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
  }
 
  .quick a:hover{
    color:#ffffff;
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: underline;
  }

  .quick h4{
    color: #ff902e;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
  }
  ---*\