
body {
  padding: 0;
  margin: 0;
  background: #000000;
}

/*--- For mobile ---*/

@media (max-width: 575.98px) {
  .nav-item {
    margin: 15px;
  }

  .nav img {
    height: 70px;
  }
  
  .login {
    margin-bottom: 10px;
  }

  .footer img {
    height: 50px;
  }

}

/*--- Navigation bar ---*/

.navbar {
  background-color: #343434;
}

.navbar img {
margin-top: 5px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
height: 50px;
}

.nav-link {
  color: #27cb53;
  cursor: pointer;
  margin-right: 15px;
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
}
  
.nav-link:hover {
color: #ffffff;
cursor: pointer;
margin-right: 15px;
font-size: 25px;
font-family: 'Josefin Sans', sans-serif;
}

.search img{
  height: 25px;
  margin: 15px;
}

.login {
display: inline-block;
padding: 8px 15px;
font-size: 20px;
font-family: 'Josefin Sans', sans-serif;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
font: #000;
background-color: #27cb53;
border: none;
border-radius: 15px;
box-shadow: 0 7px #999;
}

.login:hover {
background-color: #1fab44;
}

.login:active {
background-color: #1fab44;
box-shadow: 0 3px #666;
transform: translateY(4px);
}

.navbar-collapse {
justify-content: flex-end;
}  

/*---carosal images---*/

.carousel {
padding-top: 70px;
align-items: center;
}

/*--- Heading ---*/

.description { 
  text-align: center;
  align-items: center;
  padding: 30px 10px 10px 10px;
}

.description h1 {
color: #27cb53;
font-size: 30px;
font-family: 'Josefin Sans', sans-serif;
}

.register {
background-color: #ff902e;
font: #000000;
font-size: 20px;
font-family: 'Josefin Sans', sans-serif;
display: inline-block;
border-radius: 4px;
border: none;
text-align: center;
padding: 10px;
width: 180px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

.register span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.register span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.register:hover span {
padding-right: 25px;
}

.register:hover span:after {
opacity: 1;
right: 0;
}

/*--- Subheading ---*/

.specs {
  padding: 30px 10px 10px 10px;
  text-align: center;
  align-items: center;
}

.specs h2 {
color: #ffffff;
font-size: 25px;
font-family: 'Josefin Sans', sans-serif;
}

.specs h3 {
color: #ffffff;
font-size: 20px;
font-family: 'Josefin Sans', sans-serif;
}

/*--- Links to information---*/

.quick {
  padding: 20px 10px 10px 10px;
  text-align: center;
  align-items: center;
}

.quick h4 {
color: #ff902e;
font-size: 30px;
font-family: 'Josefin Sans', sans-serif;
margin: 0;
}

.quick a {
color:#ffffff;
font-size: 20px;
font-family: 'Josefin Sans', sans-serif;
}

.quick a:hover{
font-style: underline;
}

/*--- Information about the event---*/

.info {
padding: 20px 10px;
text-align: center;
align-items: center;
word-wrap: break-word;
color:#ffffff;
font-size: 20px;
font-family: 'Josefin Sans', sans-serif;
}

.info h2{
font-size: 30px;
}

.info a{
color:#27bc53;
font-style: underline;
}

/*--- Page Footer ---*/

.footer {
margin: 0px;
padding-top: 20px;
text-align: left;
align-items: left;
word-wrap: break-word;
}

.footer h2 {
color:#27bc53;
font-size: 25px;
font-family: 'Josefin Sans', sans-serif;
}

.footer h3 {
color:#ffffff;
font-size: 20px;
font-family: 'Josefin Sans', sans-serif;
}

.footer img {
height: 50ps;
margin: 5px;
}

.credits {
margin-top: 10px;
margin-bottom: 10px;
}

.credits img {
margin-top: 5px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
height: 40px;
}

.copyright h2 {
font-size: 10px;
color:#ffffff;
font-family: 'Josefin Sans', sans-serif;
word-wrap: break-word;
margin-top: 15px;
}