body {
    padding: 0;
    margin: 0;
    background: #000000;
  }
  
  /*--- navigation bar ---*/
  
  .navbar {
    background:#343434;
  }
  
  .nav-link {
    color: #27cb53;
    cursor: pointer;
    margin-right: 15px;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
  }
    
  .nav-link:hover {
    color: #ffffff;
  }
  
  .navbar-collapse {
    justify-content: flex-end;
  }
  img {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 50px;
  }

  .description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  
  .description h1 {
    color: #6ab446;
  }
  
  .description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
  }